[packages]

[packages.apache-airflow]
editable = true
extras = ["crypto", "gcp_api", "kubernetes", "password", "postgres"]
git = "https://github.com/apache/incubator-airflow.git"
ref = "e6291e8d50701b80d37850a63c555a42a6134775"

[requires]
python_version = "3.7"
