[packages]

[packages.apache-airflow]
editable = true
extras = ["crypto", "gcp_api", "kubernetes", "password", "postgres"]
git = "https://github.com/apache/incubator-airflow.git"
ref = "f5e3b03aa6b902898148e88fb9d90ecebcadc226"

[requires]
python_version = "3.7"
