[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Bottleneck = "*"
apache-airflow = {editable = true, extras = ["crypto","dask","gcp_api","password","postgres"], git = "https://github.com/apache/incubator-airflow.git", ref = "ecf68c7d3133b2cb9847b2f21b674482cd076358"}
dask = {extras = ["complete"]}
numexpr = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3"
