# We essentially want apache-airflow[crypto,dask,gcp_api,password,postgres], but at a specified commit since there
# haven't been any releases since 1.9.0.

https://github.com/apache/incubator-airflow/tarball/3ed25a9459a2a0b26b849b1a3ea7906f26a33707
# [async]
    greenlet>=0.4.9
    eventlet>= 0.9.7
    gevent>=0.13
# [crypto]
    # Bumped from >=0.9.3 to fix pip install issues
    cryptography>=2.2.1
# [dask]
    dask[complete]==0.17.5
# [gcp_api]
    httplib2
    oauth2client>=2.0.2,<2.1.0
    google-api-python-client>=1.5.0,<1.6.0
    PyOpenSSL
    pandas-gbq
# [password]
    bcrypt>=2.0.0
    flask-bcrypt>=0.7.1
# [postgres]
    psycopg2-binary>=2.7.4
# Misc overrides - pip sucks at dep resolution
    pyasn1>=0.4.1,<0.5.0 # One of the deps specifies this range, but it doesn't get installed
